<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       					   http://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- 配置数据库操作的 -->
	
	<!-- 配置HiberanteTemplate -->
	<bean id="hibernateTemplate" class="org.springframework.orm.hibernate5.HibernateTemplate">
		<!-- 注入Session工厂 -->
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	
	<!-- 配置一个SessionFactory -->
	<bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
		<!-- 给Session工厂注入数据源 -->
		<property name="dataSource" ref="dataSource"></property>
		<!-- 指定hibernate主配置文件的位置 -->
		<property name="configLocations" value="classpath:config/hibernate/hibernate.cfg.xml"></property>
	</bean>
	
	<!-- 配置数据源 -->
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
		<property name="url" value="jdbc:mysql://localhost:3306/crm_ee0625_ssh"></property>
		<property name="username" value="root"></property>
		<property name="password" value="123456"></property>
	</bean>
</beans>